/******************************************
/* SETUP
/*******************************************/

/* Box Model */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/******************************************
/* BASE STYLES
/*******************************************/

body {

}

/******************************************
/* LAYOUT
/*******************************************/

header{
   
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.home_header{
	position: relative;
	background-image: url("../images/dumbo.jpg");
	height:415px;
	width:100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	clear: both;
}

.home_header::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(0,0,0,0.6); 
        content: "";
 }
.portfolio_header{
	width:100%;
	height:100px;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #4a4a4a;
	position:fixed;
	overflow:hidden;
}

.row{
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.logo {
  padding: 10px 20px;
  float: left;
}


.nav-container {
  width: 50%;
  float: right;
  overflow: hidden;
}

.nav-links {
  float: right;
}

li {
	 padding: 20px 30px;
	 float: right;
     display: block;
     text-align:center;
}

a.nav:link,
a.nav:visited{
	color: white;
	text-decoration: none;
}
a.nav:hover{
	color:#0076BC
}
.active{
	background-color:gray;
}

a.navworks:link,
a.navworks:visited{
	color: black;
	text-decoration: none;
}
a.navworks:hover{
	color:#0076BC
}
.active{
	background-color:gray;
}
.bignav{
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform:uppercase;
}
h1{
	font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
	font-size:36px;
	font-weight: 300;
	color: white;
	text-align: center;
	padding: 150px 0px;
	width: 50%;
	margin: 0px auto;
}

.icon{
	float:left;
	padding:0px 20px ;
	height: 200px;
}

h2{
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-transform:uppercase;
  color:#a4a4a4;
}



p{
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size:16px;
	font-weight: 300;
	line-height: 22px;
	color:#a4a4a4;
}




.bottom{
	background-color:white;
	overflow: hidden;
	padding: 30px 0px;
}

.box .inner-wrapper{ 
	width: 100%;
	height:100%;
}

.inner-wrapper { 
	position: relative; 
	z-index: 1;
}

.leftcol, .middlecol{
	width:33.3%;
	float:left;
	margin: 20px 0px;
	padding-right: 20px;
}

.rightcol{
	float:right;
	width:33.3%;
	margin: 20px 0px;
}

.portfolio{
	padding:15px;
}

.footer{
	background-color: #333;
	height: 80px;
	clear:both;
}
.copyright{
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size:12px;
	font-weight: 300;
	color:#a4a4a4;
	text-align: center;
	padding: 30px 0px;
}

/******************************************
/* PORTFOLIO ITEM DETAIL PAGE
/*******************************************/
.two-thirds{
	width: 66.66%;
	float: left;
	margin: 30px 0px;
	padding-left:20px;
}
.one-third{
	width: 33.33%;
	float: left;
	margin: 30px 0px;
}

.portfolioImg{
	margin-bottom:30px;
	size: 100%;
}

.project-title{
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color:#4a4a4a;
  margin-bottom:20px;
}

.project-description{
	margin-right:40px;
	color:#4a4a4a;
	line-height:1.5;
}

.project_nav{
	clear:both;
	color:#e6e6e6;
	border:1px solid #979797;
	height:88px;
}


a.portfolio_link:link,
a.portfolio_link:visited,
a.next:link,
a.next:visited,
a.prev:link,
a.prev:visited{
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size:16px;
	font-weight: 400;
	color:#a4a4a4;
	text-decoration: none;
	padding:34px 0px;
}
a.portfolio_link{
	text-align: center;
}
a.prev{
	text-align: left;
}
a.prev{
	text-align: right;
}

