/******************************************
/* SETUP
/*******************************************/

/* Box Model */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/******************************************
/* BASE STYLES
/*******************************************/

html{
	height:100%;
}
body {
  background-color:white;
  min-height:100%;
  position:relative;
  padding-bottom:80px;
}
.hamburger {
  position: fixed;
  top:25px;
  right:25px;
  z-index: 90;
  display: none;
}

/* on mobile I want to show the hamburger button by setting display to block */
@media only screen and (max-width:768px){
  .hamburger{
    display:block;
  }
}

.hamburger span {
  display: block;
  width: 20px;
  height:3px;
  background-color: white;
  margin:2px 0;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
   
}
.footer{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height: 80px;
	background-color: #333;
	clear:both;
	margin-top: 30px;
}
/******************************************
/* HOME
/*******************************************/
.home_header{
	position: relative;
	background-image: url("../images/dumbo.jpg");
	height:415px;
	width:100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	clear: both;
}

.home_header::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(0,0,0,0.6); 
        content: "";
 }
.boxhome{
	position: relative;
	width:33.33%;
	float:left;	
	padding: 0 20px;
	/*height:254px;*/
	margin-bottom:20px;
}
@media only screen and (max-width: 767px){
	.boxhome{
		width:90%;
		height:100%;
		padding-bottom:10px;
	}
}
.inner-wrapper-home{
	width:100%;
	height:100%;
}
.row{
    /*background: rgba(39,62,84,0.82);*/
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.row-home {
  padding-top: 30px;
}

.logo {
  padding: 12px 20px;
  float: left;
}


.nav-container {
  width: 50%;
  float: right;
  overflow: hidden;
}

.nav-links {
  float: right;
}

li {
	 padding: 20px 30px;
	 float: right;
     display: block;
     text-align:center;
}
@media only screen and (max-width:767px){
	.nav-links, .nav-container{
		float:none;
		padding-left: 7px;
	}
	li{
		float:none;
		text-align:left;
	}
	.nav-links{
		display:none;
	}
}

a.nav:link,
a.nav:visited{
	color: white;
	text-decoration: none;
}
a.nav:hover{
	color:#0076BC;
}

a.navworks:link,
a.navworks:visited{
	color: black;
	text-decoration: none;
}
a.navworks:hover{
	color:#0076BC;
}


.bignav{
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform:uppercase;
}
h1{
	font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
	font-size:36px;
	font-weight: 300;
	color: white;
	text-align: center;
	padding: 150px 0px;
	width: 50%;
	margin: 0px auto;
}

.icon{
	position:absolute;
	float:left;
	padding:0px 20px ;
	width:70px;
}
.info{
	float:left;
	width:100%;
	padding-left:70px ;
}

h2{
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-transform:uppercase;
  color:#a4a4a4;
  padding-bottom: 10px;
}

p{
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size:16px;
	font-weight: 300;
	line-height: 22px;
	color:#a4a4a4;
}
/******************************************
/* WORKS PAGE
/*******************************************/
.works_header{
	position: relative;
	background-image: url("../images/watertower.jpg");
	height:415px;
	width:100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	clear: both;
}

.works_header::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(0,0,0,0.4); 
        content: "";
 }
.sub-nav-links {
  float: left;
  padding: 30px 0px 30px 30px;
}

li.smallnav {
	 padding: 0px 10px;
	 float: left;
     display: block;
     text-align:center;
}
.smallnav{
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-weight: 400;
	text-transform:uppercase;
	font-size: 14px;
}
a.smallnav:link,
a.smallnav:visited{
	color: #4a4a4a;
	text-decoration: none;
}
a.smallnav:hover{
	color:#0076BC;
}

a.smallnav.active:link,
a.smallnav.active:visited{
	color:#0076BC;
}
.outer-wrapper{
	padding:0px 20px;
	overflow: hidden;
	min-height: 500px;
}

.box{
	width:33.33%;
	float:left;	
	padding: 10px;
	margin-top:150px;
	opacity: 0;
	/*padding-bottom: 10px;
	/*height:254px;*/*/
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.box{
		width:50%
	}
}
@media only screen and (max-width: 767px){
	.box{
		width:100%
	}
}
.inner-wrapper{
	position:relative;
	width:100%;
	height:100%;
	border: 1px solid #ccc;
}
span.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8); 
    color:white;
    opacity:0;
    z-index: 1;
}

span.overlay span {
    display: table;
    width: 100%;
    height: 100%;
}
span.overlay h4 {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
/*.box:hover .overlay {
    opacity:1;
}*/
/*.inner-wrapper:hover {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "";
 }*/

.header-inner-wrapper { 
	position: relative; 
	z-index: 1;

}

.portfolio-thumb{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index: 1;
	width:100%;
	/*height:100%;*/
}

h4{
    font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
	font-size:18px;
	font-weight: 500;
	line-height: 18px;
	color:white;
	z-index: 10;
}

.copyright{
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size:12px;
	font-weight: 300;
	color:#a4a4a4;
	text-align: center;
	padding: 30px 0px;
}

/******************************************
/* PORTFOLIO ITEM DETAIL PAGE
/*******************************************/
.portfolio_header{
	width:100%;
	height:60px;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #d4d4d4;
	position:fixed;
	overflow:hidden;
}

.two-thirds{
	width: 66.66%;
	float: left;
	margin: 80px 0px;
	padding-left:20px;
}
.one-third{
	width: 33.33%;
	float: left;
	margin: 80px 0px;
	position:fixed;
	right:0;
}
@media only screen and (max-width: 767px){
  .two-thirds{
  	width: 90%;
  }
  .one-third{
  	width: 90%;
  }
}

h3{
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color:#4a4a4a;
  margin-bottom:20px;
}

.project-title{
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color:#4a4a4a;
  margin-bottom:20px;
}

.project-description{
	margin-right:40px;
	color:#4a4a4a;
	line-height:1.5;
	margin-bottom: 10px;
}

.project_nav{
	clear:both;
	background-color:#e6e6e6;
	height:88px;
	width:100%;
}


a.portfolio_link:link,
a.portfolio_link:visited,
a.next:link,
a.next:visited,
a.prev:link,
a.prev:visited{
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size:16px;
	font-weight: 400;
	color:#a4a4a4;
	text-decoration: none;
	padding:34px 0px;
	width:33.33%;
	display:inline-block;
}
a.portfolio_link{
	text-align: center;
}
a.prev{
	float:left;
}
a.prev{
	text-align: right;
}

/******************************************
/* CONTACT
/*******************************************/
.contact_header{
	position: relative;
	background-image: url("../images/yes.jpg");
	height:415px;
	width:100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	clear: both;
}

.contact_header::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(0,0,0,0.5); 
        content: "";
 }


.inner-wrapper-contact{
	width:100%;
	height:100%;
	padding:30px;
}


.box-contact{
	width:50%;
	float:left;	
	padding: 30 20px;
	height:100%;
	/*border: 1px solid black;*/
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    /*padding: 10px 0px;*/
    padding-top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #fff;
    color: #4a4a4a;
    border-radius:4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline:none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #4a4a4a;
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4A90E2;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

label{
  display:block;
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color:#4a4a4a;
  margin-top:20px;
}

a.contact:link,
a.contact:visited{
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size:14px;
	font-weight: 400;
	color:#0076BC;
	text-decoration: none;
	display:inline-block;
}

/******************************************
/* BIO
/*******************************************/
.bio_header{
	position: relative;
	background-image: url("../images/meg.jpg");
	height:415px;
	width:100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	clear: both;
}

.bio_header::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(0,0,0,0.65); 
        content: "";
 }

 .biopage{
 	border-right:1px solid #ccc;
 	padding-right: 10px;
 }

 .biopageright{
 	position:initial;
 	padding-left:30px;
 }

@media only screen and (max-width: 767px){
  .biopage{
  	border:none;
  }
  .biopageright{
  	padding-left:10px;
  }
}

.quote{
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size:16px;
	font-weight: 300;
	line-height: 22px;
	color:#a4a4a4;
}

